@model Horse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Horse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedId" class="control-label"></label>
                <select asp-for="BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
                <span asp-validation-for="BreedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirhtYear" class="control-label"></label>
                <input asp-for="BirhtYear" class="form-control" />
                <span asp-validation-for="BirhtYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender</label>
                <div>
                    <label>
                        <input type="radio" asp-for="Gender" value="Male" /> Male
                    </label>
                    <label>
                        <input type="radio" asp-for="Gender" value="Female" /> Female
                    </label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
